
              <header class="jumbotron hero-spacer">
                    <h1>A Warm Welcome!</h1>
                    <p>Product knowledge training is one of the most important aspects of sales training, and for on-the-go sales staff, eLearning they can consume on mobile devices is crucial. This is how we developed eLearning for sales reps to prepare them to talk with neurosurgeons. </p>
                    <p><a class="btn btn-primary btn-lg" href="/users/signup">Sign Up Now!</a>
                    </p>
                </header>
           