body {
    padding-top: 70px; 
}

.hero-spacer {
    margin-top: 50px;
}

.hero-feature {
    margin-bottom: 30px;
}

footer {
    margin: 50px 0;
}

.nav li a:hover{
    border-bottom: 2px lawngreen solid;
    color:red;
    background: blue;
}