<p><b>E-Learning Industry</b> is a network-based media and publishing company founded in 2012. It is the largest online community of elearning professionals in the industry, and was created first and foremost as a knowledge-sharing platform to help elearning professionals and instructional designers connect in a safe online community where they can stay up to date with the latest industry news and technologies, and find projects or jobs.</p>
<div style="margin-bottom:5%;"></div>
<p><b>The eLearning Industry's</b> Network runs the following sites:

    E-Learning Infographics “The No.1 Source for the Best Education Infographics”
    eLearning Weekly “A free eLearning Weekly Newsletter round-up of eLearning news and articles”
    The eLearning Industry “The Leading e-Learning Portal for professionals involved in the e-Learning Industry. Find first all the latest trends, articles and news.”
    Viva eLearning “Free Video Tutorials for eLearning Professionals”
    eLearning Feeds “The most recent article from the BEST eLearning Blogs and eLearning sites”
    eLearning Jobs  “The Leading Source for eLearning Jobs - Free eLearning Job posting”
    eLearning Ask  "An eLearning Questions and eLearning Answers discussions portal"
    eLearning Tags "An eLearning social bookmarking service where you can discover, share, vote and discuss remarkable eLearning content."</p>
<div style="margin-bottom:5%;"></div>
<p><b>E-Learning Industry's</b> Network is supported by the largest online group of professionals involved in the eLearning industry at LinkedIn. eLearning Industry is designed to:

    help instructional designers and (or) eLearning professionals to find a project or a temporary basis job
    share the knowledge via post, tweets, ppp, etc,
    to build a safe online community of professionals involved in the eLearning industry

The Instructional Design and eLearning professionals' Group is a thriving community of Managers, Director, CXO, and Business Owners.</p>
<div style="margin-bottom:5%;"></div>

<p>
The eLearning Industry contains eLearning, Instructional Design, and Training jobs, comprehensive articles on how to use the best eLearning tools, reviews of the latest eLearning industry research, and advice direct from the world’s eLearning experts.</p>