<h2>Add Lesson</h2><br><br>
<form id="redForm" method="post" action="/instructors/classes/{{classid}}/lessons/new" class="form-group">
    <div  class="form-group">
        <label>Lesson Number: </label>
        <input type="text" name="lessno">
    </div>
         <div  class="form-group">
        <label>Lesson Title: </label>
        <input type="text" name="lesstitle">
    </div>
       <div  class="form-group">
        <label>Lesson Number: </label>
           <textarea name="lessbody"></textarea>
    </div>
    <div  class="form-group">
        <button type="submit" value="Signup" class="btn btn-danger">Submit</button>
    </div>
</form>